
/*======================================
        Footer
======================================*/
footer {
    background: url("../../common/images/bg_footer.png") left 63% no-repeat;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 14%;
    .detail {
        border: 2px solid #00A3D8;
        background: white;
        text-align: center;
        padding: 25px 0;
        h2 {
            color: #00A3D8;
        }
        .title-h3-footer,
        .title-h3-infor {
            padding-bottom: 20px;
        }
    }
    a {
        color: #00A3D8;
    }
    .detail {
        p {
            padding-bottom: 20px;
            font-weight: bold;
            line-height: 1.6;
        }
        a:before {
            position: relative;
            top: 3px;
            left: 0;
            content: url("../../common/images/icon_01.png");
            margin-right: 10px;
        }
    }
    .group {
        margin-top: 7%;
        img {
            padding-bottom: 15px;
        }
        .btn-small {
            background: #10A3C0;
            padding: 10px 0;
            &:nth-child(1) {
                width: 200px;
                margin-left: 95px;
            }
            &:nth-child(2) {
                width: 80px;
            }
        }
    }
}
.copyright {
    background: #10A3C0;
    color: white;
    p {
        padding: 47px 0 42px;
    }
}
/* ------------ footer faq.html, privacy.html -------------*/
#technology footer .detail {
    padding: 39px 0 25px;
}
footer .detail .btn {
    width: 179px;
    background: #00A3D8;
    padding: 10px 0;
}
#faq .detail a:before,
#links footer .detail a:before,
#privacy footer .detail a:before,
#technology footer .detail a:before {
    content: '';
}
/* ------------ footer contact.html -------------*/
#contact footer {
    padding-top: 150px;
    background-position: left 60%;
}
