/*======================================
        Header
======================================*/

header {
  background: white;
  .container {
    padding: 0;
    &:after {
      clear: both;
      display: block;
      content: '';
      visibility: hidden;
    }
  }
  .logo, nav {
    float: left;
  }
  .logo {
    width: 34%;
    padding: 20px 0 20px 7px;
  }
  nav {
    width: 66%;
    text-align: right;
  }
  .lng_menu {
    float: right;
    margin-bottom: 25px;
    &:after {
      clear: both;
      display: block;
      content: '';
      visibility: hidden;
    }
    li {
      float: right;
      &:last-child {
        margin-right: 2px;
      }
    }
    a {
      width: 78px;
      vertical-align: top;
      background: #0059B2;
      padding: 3px 0 1px;
      &:hover {
        background: #0059B2 !important;
        color: white;
        border: 2px solid #0059B2;
      }
    }
  }
  .mainNav {
    li {
      display: inline-block;
      margin-right: 16px;
      &:nth-child(6) {
        margin-right: 0;
      }
      &:last-child {
        display: none;
      }
    }
    a {
      font-size: 12px;
      font-weight: bold;
    }
  }
}
