/* css */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
p {
    font-size: 16px;
    line-height: 1.6;
}
a {
    color: #0059B2;
    text-decoration: none;
    &:hover {
        color: #10A3C0;
        text-decoration: none;
    }
    &:focus {
        color: #660000;
        text-decoration: none;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.6;
}
a:focus,
button:focus,
input:focus {
    outline: none;
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.technology {
    .box_details_technology1:after,
    .box_details_technology2:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }
}
.clearfix {
    &:before {
        content: "";
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }
    clear: both;
}
/*------------------- Wraper -------------------*/
.is_pc {
    display: block;
}
.is_sp {
    display: none;
}
.wrapper {
    margin: auto;
    overflow: hidden;
    min-width: 1000px;
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}
.container-full {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    padding: 0;
}
/*------------------- Component -------------------*/
.is_hidden {
    display: none;
}
.title-h2,
.title-h2-black,
.title-h2-breadcumb {
    font-size: 24px;
    color: #00A3D8;
    text-align: center;
}
.title-h2-black {
    font-size: 18px;
    color: black;
    text-align: center;
}
.title-h2-breadcumb {
    font-size: 28px;
    color: white;
}
.title-h3,
.title-h3-blue,
.title-h3-large,
.title-h3-sub {
    color: black;
    font-size: 18px;
}
.title-h3-large {
    font-size: 28px;
}
.title-h3-blue {
    color: #10A3C0;
}
.title-h3-sub {
    color: #00A3D8;
}
.title-h3-footer {
    font-size: 21px;
    color: #00A3D8;
}
.title-h3-infor {
    font-size: 21px;
    color: #00A3D8;
    color: #00A3D8;
}
.title-sub {
    font-size: 14px;
    color: #333333;
}
.title-sub-large {
    font-size: 14px;
    color: #333333;
    font-size: 18px;
}
.txt,
.txt-label,
.txt-large,
.txt-small {
    font-size: 16px;
    color: #333333;
}
.txt-large {
    font-size: 18px;
}
.txt-small {
    font-size: 14px;
}
.txt-label {
    font-weight: bold;
    color: #0059B2;
}
.link {
    font-size: 16px;
    color: #0059B2;
    text-decoration: underline;
}
.link-small {
    font-size: 16px;
    color: #0059B2;
    text-decoration: underline;
    font-size: 12px;
}
.link-anchor {
    font-size: 14px;
    color: #00A3D8;
}
.btn,
.btn-lang,
.btn-small {
    font-size: 16px;
    text-align: center;
    display: inline-block;
    color: white;
    padding: 5px 0 4px;
    border: 2px solid transparent;
    transition: all 0.4s ease-in-out;
}
.btn-lang:hover,
.btn-small:hover,
.btn:hover {
    border: 2px solid #00A3D8;
    background: white !important;
    color: #00A3D8 !important;
}
.btn-small {
    font-size: 14px;
}
.btn-lang {
    font-size: 10px;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}
