/*
 * CSS Helper Class Setting
 */

/**
	Helper
--------------------------------------------**/
/*--------- Font ---------*/
/* Size */
/* .fs12 {
	font-size: 1.2em;
}*/

/* color */
.fcblue01 {
	color: #495FAB;
}
.fcblack {
	color: #000;
	font-weight: 500;
}
.fcRed {
	color: #F00;
}
.fcgreen {
	color: #65873B;
}

/* line-height */
/*.lh200 {
	line-height:2;
}*/

/* style */
.fwb {
	font-weight: bold;
}

/* Display*/
.inlineBlock {
	display: inline-block;
}
.is_pc {
    display: inherit;
}
.is_sp {
    display: none;
}
/*--------- width ---------*/
.wid7m {
	width: 7em;
}

/*--------- Text Align ---------*/
.tal {text-align:left;}
.tac {text-align:center;}
.tar {text-align:right;}


/*--------- Vertical Align ---------*/
.vat {vertical-align: top;}
.vam {vertical-align: middle;}
.vab {vertical-align: bottom;}


/*--------- Block Align Center ---------*/
/*.bac {
	margin-left:auto;
	margin-right:auto;
}/


/*--------- margin ---------*/
/* top */
.mt0 {margin-top: 0px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;}
.mt30 {margin-top: 30px;}
.mt35 {margin-top: 35px;}
.mt40 {margin-top: 40px;}
.mt45 {margin-top: 45px;}
.mt50 {margin-top: 50px;}
.mt55 {margin-top: 55px;}
.mt60 {margin-top: 60px;}

/* bottom */
.mb0 {margin-bottom: 0px;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mb25 {margin-bottom: 25px;}
.mb30 {margin-bottom: 30px;}
.mb35 {margin-bottom: 35px;}
.mb40 {margin-bottom: 40px;}
.mb45 {margin-bottom: 45px;}
.mb50 {margin-bottom: 50px;}
.mb55 {margin-bottom: 55px;}
.mb60 {margin-bottom: 60px;}

/* left */
.ml0 {margin-left: 0px;}
.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.ml25 {margin-left: 25px;}
.ml30 {margin-left: 30px;}
.ml35 {margin-left: 35px;}
.ml40 {margin-left: 40px;}
.ml45 {margin-left: 45px;}
.ml50 {margin-left: 50px;}
.ml55 {margin-left: 55px;}
.ml60 {margin-left: 60px;}

/* right */
.mr0 {margin-right: 0px;}
.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.mr25 {margin-right: 25px;}
.mr30 {margin-right: 30px;}
.mr35 {margin-right: 35px;}
.mr40 {margin-right: 40px;}
.mr45 {margin-right: 45px;}
.mr50 {margin-right: 50px;}
.mr55 {margin-right: 55px;}
.mr60 {margin-right: 60px;}


/*--------- padding ---------*/
/* top */
.pt0 {padding-top: 0px;}
.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pt25 {padding-top: 25px;}
.pt30 {padding-top: 30px;}
.pt35 {padding-top: 35px;}
.pt40 {padding-top: 40px;}
.pt45 {padding-top: 45px;}
.pt50 {padding-top: 50px;}

/* bottom */
.pb0 {padding-bottom: 0px;}
.pb5 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pb25 {padding-bottom: 25px;}
.pb30 {padding-bottom: 30px;}
.pb35 {padding-bottom: 35px;}
.pb40 {padding-bottom: 40px;}
.pb45 {padding-bottom: 45px;}
.pb50 {padding-bottom: 50px;}

/* left */
.pl0 {padding-left: 0px;}
.pl5 {padding-left: 5px;}
.pl10 {padding-left: 10px;}
.pl15 {padding-left: 15px;}
.pl20 {padding-left: 20px;}
.pl25 {padding-left: 25px;}
.pl30 {padding-left: 30px;}
.pl35 {padding-left: 35px;}
.pl40 {padding-left: 40px;}
.pl45 {padding-left: 45px;}
.pl50 {padding-left: 50px;}

/* right */
.pr0 {padding-right: 0px;}
.pr5 {padding-right: 5px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}
.pr20 {padding-right: 20px;}
.pr25 {padding-right: 25px;}
.pr30 {padding-right: 30px;}
.pr35 {padding-right: 35px;}
.pr40 {padding-right: 40px;}
.pr45 {padding-right: 45px;}
.pr50 {padding-right: 50px;}


@media print,screen and (min-width:861px) {
}


@media only screen and (max-width:860px) {

	/**
		Helper
	--------------------------------------------**/

	/*--------- margin ---------*/
	/* top */
	.smt0 {margin-top: 0px;}
	.smt5 {margin-top: 5px;}
	.smt10 {margin-top: 10px;}
	.smt15 {margin-top: 15px;}
	.smt20 {margin-top: 20px;}
	.smt25 {margin-top: 25px;}
	.smt30 {margin-top: 30px;}
	.smt35 {margin-top: 35px;}
	.smt40 {margin-top: 40px;}
	.smt45 {margin-top: 45px;}
	.smt50 {margin-top: 50px;}
	.smt55 {margin-top: 55px;}
	.smt60 {margin-top: 60px;}
	.smt65 {margin-top: 65px;}
	.smt70 {margin-top: 70px;}

	/* bottom */
	.smb0 {margin-bottom: 0px;}
	.smb5 {margin-bottom: 5px;}
	.smb10 {margin-bottom: 10px;}
	.smb15 {margin-bottom: 15px;}
	.smb20 {margin-bottom: 20px;}
	.smb25 {margin-bottom: 25px;}
	.smb30 {margin-bottom: 30px;}
	.smb35 {margin-bottom: 35px;}
	.smb40 {margin-bottom: 40px;}
	.smb45 {margin-bottom: 45px;}
	.smb50 {margin-bottom: 50px;}
	.smb55 {margin-bottom: 55px;}
	.smb60 {margin-bottom: 60px;}
	.smb65 {margin-bottom: 65px;}
	.smb70 {margin-bottom: 70px;}


	/* left */
	.sml0 {margin-left: 0px;}
	.sml5 {margin-left: 5px;}
	.sml10 {margin-left: 10px;}
	.sml15 {margin-left: 15px;}
	.sml20 {margin-left: 20px;}
	.sml25 {margin-left: 25px;}
	.sml30 {margin-left: 30px;}
	.sml35 {margin-left: 35px;}
	.sml40 {margin-left: 40px;}
	.sml45 {margin-left: 45px;}
	.sml50 {margin-left: 50px;}
	.sml55 {margin-left: 55px;}
	.sml60 {margin-left: 60px;}
	.sml65 {margin-left: 65px;}
	.sml70 {margin-left: 70px;}

	/* right */
	.smr0 {margin-right: 0px;}
	.smr5 {margin-right: 5px;}
	.smr10 {margin-right: 10px;}
	.smr15 {margin-right: 15px;}
	.smr20 {margin-right: 20px;}
	.smr25 {margin-right: 25px;}
	.smr30 {margin-right: 30px;}
	.smr35 {margin-right: 35px;}
	.smr40 {margin-right: 40px;}
	.smr45 {margin-right: 45px;}
	.smr50 {margin-right: 50px;}
	.smr55 {margin-right: 55px;}
	.smr60 {margin-right: 60px;}
	.smr65 {margin-right: 65px;}
	.smr70 {margin-right: 70px;}


	/*--------- padding ---------*/
	/* top */
	.spt0 {padding-top: 0px;}
	.spt5 {padding-top: 5px;}
	.spt10 {padding-top: 10px;}
	.spt15 {padding-top: 15px;}
	.spt20 {padding-top: 20px;}
	.spt25 {padding-top: 25px;}
	.spt30 {padding-top: 30px;}
	.spt35 {padding-top: 35px;}
	.spt40 {padding-top: 40px;}
	.spt45 {padding-top: 45px;}
	.spt50 {padding-top: 50px;}

	/* bottom */
	.spb0 {padding-bottom: 0px;}
	.spb5 {padding-bottom: 5px;}
	.spb10 {padding-bottom: 10px;}
	.spb15 {padding-bottom: 15px;}
	.spb20 {padding-bottom: 20px;}
	.spb25 {padding-bottom: 25px;}
	.spb30 {padding-bottom: 30px;}
	.spb35 {padding-bottom: 35px;}
	.spb40 {padding-bottom: 40px;}
	.spb45 {padding-bottom: 45px;}
	.spb50 {padding-bottom: 50px;}

	/* left */
	.spl0 {padding-left: 0px;}
	.spl5 {padding-left: 5px;}
	.spl10 {padding-left: 10px;}
	.spl15 {padding-left: 15px;}
	.spl20 {padding-left: 20px;}
	.spl25 {padding-left: 25px;}
	.spl30 {padding-left: 30px;}
	.spl35 {padding-left: 35px;}
	.spl40 {padding-left: 40px;}
	.spl45 {padding-left: 45px;}
	.spl50 {padding-left: 50px;}

	/* right */
	.spr0 {padding-right: 0px;}
	.spr5 {padding-right: 5px;}
	.spr10 {padding-right: 10px;}
	.spr15 {padding-right: 15px;}
	.spr20 {padding-right: 20px;}
	.spr25 {padding-right: 25px;}
	.spr30 {padding-right: 30px;}
	.spr35 {padding-right: 35px;}
	.spr40 {padding-right: 40px;}
	.spr45 {padding-right: 45px;}
	.spr50 {padding-right: 50px;}

}
