@import "module";
@import "header"; /*------------------------------------

      index.html

------------------------------------*/
.breadcumb {
    background: url("../images/bg_breadcrumbss_bar.png") center no-repeat, #99CCFF;
    padding: 40px 0 36px;
}
/* ----------- slide --------- */
.slide {
    background: #F0F0E1;
    .btn {
        position: absolute;
        background: #0059B2;
        bottom: 12%;
        left: 0;
        right: 0;
        width: 171px;
        margin: auto;
        padding: 14px 0;
    }
    .main_slider {
        position: relative;
        width: 100%;
        height: 508px;
        overflow: hidden;
        .bg_slider {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        #bg_brn {
            height: 508px;
        }
    }
    .title {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
    }
    .img_banner_title {
        position: absolute;
        top: 210px;
        right: 157px;
    }
    .fadeDown {
        opacity: 0;
        transition-duration: 600ms;
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                &.ef-slide {
                    opacity: 1;
                    transform: translate(0px, 0px);
                    transition-delay: 400ms * $i;
                }
            }
        }
    }
    .title_slider_01 {
        top: 210px;
    }
    .title_slider_02 {
        bottom: 162px;
    }
    .graph {
        display: none;
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    .graph_slider_blur {
        z-index: 9;
    }
}
/* ----------- local01  --------- */
.local01 {
    padding-bottom: 30px;
    h2 {
        padding: 40px 0 80px;
    }
    .topic {
        padding: 0 30px 0 130px;
        margin: auto;
        line-height: 1.6;
        .itemsTopic {
            position: relative;
            display: block;
            color: #525252;
            margin-bottom: 15px;
            font-size: 14px;
            &:after {
                clear: both;
                display: block;
                content: '';
                visibility: hidden;
            }
            &.new:before {
                position: absolute;
                content: "新着情報";
                color: #10A3C0;
                font-weight: bold;
                font-size: 18px;
                left: -100px;
                top: -2px;
            }
            > * {
                float: left;
            }
            &:hover {
                .date,
                .nameTopic {
                    text-decoration: underline;
                }
            }
        }
        .date {
            width: 120px;
        }
        .nameTopic {
            width: 600px;
        }
        .showLink {
            text-align: right;
        }
        .btn {
            width: 22%;
            background: #00A3D8;
            text-align: center;
        }
    }
    .time {
        width: 65%;
        display: table;
        li {
            display: table-row;
        }
        p {
            display: table-cell;
            padding-bottom: 15px;
            font-size: 14px;
            &:nth-child(odd) {
                padding-right: 20px;
            }
        }
    }
}
/* ----------- present  --------- */
.present {
    background: #F9F9F2;
    .container {
        padding: 0;
        &:after {
            display: block;
            clear: both;
            content: '';
        }
    }
    h2 {
        padding: 52px 0 48px;
    }
    .content {
        width: 54%;
        padding-right: 30px;
        float: right;
        padding-bottom: 26px;
    }
    h3 {
        padding-bottom: 4px;
    }
    .txt-top {
        font-weight: bold;
        padding-bottom: 20px;
    }
    .txt-bt {
        padding-bottom: 10px;
        text-align: justify;
    }
    .sign {
        text-align: right;
        font-size: 14px;
        line-height: 1.4;
    }
    .avatar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 46%;
    }
}
/* ----------- technology1 --------- */
#technology1 {
    .title-h2 {
        padding: 60px 0;
    }
    .technology1Bg {
        background: #EEEEEE;
        .container {
            padding-bottom: 40px;
        }
    }
    .content {
        width: 68%;
        padding-left: 15px;
    }
    p {
        padding-bottom: 22px;
    }
    h3 {
        padding: 27px 0 17px;
    }
    .btn {
        width: 169px;
        background: #00A3D8;
        padding: 12px 0;
    }
    .avatar {
        width: 33%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
/* ----------- technology2 --------- */
#technology2 {
    padding: 50px 0 70px;
    li {
        border: 4px solid transparent;
        padding: 35px;
        &:after {
            clear: both;
            display: block;
            content: '';
            visibility: hidden;
        }
        &:hover {
            border: 4px solid #EEEEEE;
        }
    }
    .thumbnail {
        width: 34%;
        float: left;
    }
    .infor {
        width: 34%;
        float: left;
        width: 66%;
        padding-left: 40px;
        h3 {
            padding-bottom: 10px;
        }
        .txt {
            padding-bottom: 30px;
        }
        .more-infor {
            padding: 15px 0;
            text-align: right;
        }
        .btn {
            width: 180px;
            background: #00A3D8;
        }
    }
}
/* ----------- company --------- */
#company {
    padding-bottom: 48px;
    background: #EEEEEE;
    h2 {
        padding: 65px 0;
    }
    .title-h3-sub {
        color: #10A3C0;
    }
    .container:after {
        clear: both;
        display: block;
        content: '';
        visibility: hidden;
    }
    .infor {
        float: left;
        width: 50%;
        padding-left: 30px;
    }
    h3 {
        padding: 20px 0 10px;
    }
    .list-content {
        li {
            display: table-row;
        }
        p {
            display: table-cell;
            padding-bottom: 7px;
            &:nth-child(odd) {
                width: 80px;
            }
        }
    }
    .list-number li {
        line-height: 2.2;
    }
}
/* ----------- access --------- */
.access {
    .title-h2 {
        padding: 53px 0 56px;
    }
    iframe {
        width: 100%;
        height: 418px;
    }
    .container:after {
        clear: both;
        display: block;
        content: '';
        visibility: hidden;
    }
    .infor {
        float: left;
        width: 50%;
        padding-left: 30px;
        li {
            position: relative;
            padding-left: 20px;
            padding-bottom: 5px;
            &:before {
                display: inline-block;
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #00A3D8;
                position: absolute;
                top: 10px;
                left: 0;
            }
        }
    }
    h3 {
        padding: 10px 0;
    }
}
/*------------------------------------

      faq.html

------------------------------------*/
.faq {
    .txt {
        padding: 47px 0 48px;
    }
    .group {
        min-height: 140px;
        padding: 30px 30px 0;
        background: #EEEEEE;
        margin-bottom: 35px;
    }
    h3,
    p {
        position: relative;
        padding-left: 40px;
    }
    .link {
        font-size: inherit;
    }
    h3 {
        padding-bottom: 10px;
    }
    .icon {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: bold;
    }
}
/*------------------------------------

      privacy.html

------------------------------------*/
.privacy {
    .title-h2 {
        text-align: center;
        padding: 50px 0 65px;
    }
    .subTitle {
        padding-bottom: 52px;
    }
    .content p {
        padding-bottom: 18px;
    }
}
.about {
    margin: 20px 0 24px;
    > .container-full {
        border-top: 1px solid #EEEEEE;
        max-width: 940px;
        width: 100%;
    }
    h2 {
        padding: 62px 0 70px;
    }
}
/*------------------------------------

      links.html

------------------------------------*/
/* ----------- all links --------- */
.all-links {
    .group:after {
        clear: both;
        display: block;
        content: '';
        visibility: hidden;
    }
    a {
        padding-bottom: 8px;
        display: block;
    }
    .txt {
        padding: 55px 0 60px;
    }
    .content,
    .logo {
        width: 50%;
        float: left;
    }
    .title-h3 {
        padding: 0;
        line-height: 1;
    }
    .logo {
        padding-left: 100px;
    }
    .content {
        padding-bottom: 50px;
    }
}
/*------------------------------------

      contact.html

------------------------------------*/
.contact {
    padding-top: 80px;
    .container:after {
        clear: both;
        display: block;
        content: '';
        visibility: hidden;
    }
    .content,
    .form {
        width: 50%;
        float: left;
    }
    .content {
        padding-right: 50px;
    }
    input {
        &[type="checkbox"] {
            -webkit-appearance: none;
            border-radius: 0;
            width: 15px;
            height: 15px;
            &:checked {
                -webkit-appearance: checkbox;
            }
        }
        &[type="text"] {
            width: 100%;
            padding: 2px 15px;
            resize: none;
        }
    }
    select,
    textarea {
        width: 100%;
        padding: 2px 15px;
        resize: none;
    }
    input {
        height: 35px;
        padding: 2px 5px;
        border: 1px solid #D2D2D2;
    }
    select {
        height: 35px;
        padding: 2px 5px;
        border: 1px solid #D2D2D2;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url("../../common/images/contact/arrow_select.png") no-repeat 96% 50%;
        background-size: 3%;
    }
    textarea {
        overflow: hidden;
        border: 1px solid #D2D2D2;
    }
    .input-group {
        margin-bottom: 20px;
        &:after {
            clear: both;
            display: block;
            content: '';
            visibility: hidden;
        }
        .require {
            float: right;
            display: block;
            text-indent: 9999px;
            overflow: hidden;
            width: 56px;
            height: 23px;
            position: relative;
            bottom: 8px;
            background: url("../../common/images/contact/require_icon.png");
        }
    }
    .label-group {
        margin-bottom: 5px;
        &:after {
            clear: both;
            display: block;
            content: '';
            visibility: hidden;
            height: 0;
        }
    }
    .input-name input {
        float: left;
        width: 49% !important;
        &:nth-child(2) {
            float: right;
        }
    }
    button {
        border: 2px solid transparent;
        background: #00B9FF;
        max-width: 300px;
        width: 100%;
        position: relative;
        font-weight: bold;
        padding: 12px 0 8px;
        margin-top: 30px;
        &:before {
            content: "";
            background: url("../../common/images/contact/arrow-right.png") center no-repeat;
            width: 16px;
            position: absolute;
            top: calc(50% - 8px);
            left: 30px;
            height: 16px;
        }
    }
    .checkbox-group {
        .input {
            padding-top: 10px;
        }
        span {
            padding-right: 22px;
        }
        .last {
            padding-right: 0;
        }
    }
}
/*------------------------------------

      technology.html

------------------------------------*/
.link-anchor ul {
    padding-top: 40px;
    &:after,
    &:before {
        content: '';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    li {
        width: 33.33%;
        float: left;
    }
    a {
        font-weight: bold;
        width: 70%;
        text-align: center;
        color: #0059B2;
        padding-bottom: 7px;
        display: inline-block;
        border-bottom: 3px solid #0059B2;
        &.is_pc {
            color: #DDDDDD;
            border-bottom-color: #DDDDDD;
            &:hover {
                color: #0059B2;
                border-bottom-color: #0059B2;
            }
        }
    }
}
/* ------------- #technology01 ----------------- */
#technology01 .title-h2 {
    padding: 90px 0 75px;
}
.local01 {
    padding-bottom: 25px;
    &:after,
    &:before {
        content: '';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .description {
        width: 55%;
        float: left;
        padding-right: 20px;
        p {
            padding-bottom: 30px;
        }
    }
    .about {
        width: 45%;
        float: left;
    }
    .thumbnail {
        text-align: right;
    }
    .thumbnail-detail {
        border: 1px solid #DFDFD0;
        border-bottom: 2px solid #DFDFD0;
        border-top: 2px solid #DFDFD0;
        padding: 25px 30px;
        &:after,
        &:before {
            content: '';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
        img {
            width: 30%;
            float: left;
        }
        .content {
            width: 70%;
            float: left;
            padding-left: 15px;
        }
    }
}
/* ------------- #technology02 ----------------- */
#technology02 {
    border-top: 1px solid #DDDDDD;
    padding-top: 70px;
    margin-top: 50px;
}
.local02 {
    .title-h2 {
        padding-bottom: 67px;
    }
    .main-img {
        padding-bottom: 37px;
    }
    .content {
        padding: 0 10px;
    }
}
/* ------------- all post ----------------- */
.post .title-h3 {
    color: #00A3D8;
    font-size: 21px;
    border-bottom: 1px solid #00A3D8;
    margin: 87px 0 39px;
    padding-bottom: 15px;
    padding-left: 10px;
}
.post-group {
    padding-left: 10px;
    .title-h4 {
        padding: 58px 0 0;
    }
    .no-top {
        padding-top: 0;
    }
}
.post {
    .note {
        margin-top: 15px;
        padding: 25px 30px;
        border: 1px solid #000;
        font-weight: bold;
    }
    .note-blue {
        color: #00A3D8;
        border-color: #00A3D8;
    }
    .zoom-icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
    .group08 p {
        padding-top: 30px;
    }
}
.post01 {
    .group08 p,
    .post-group p {
        padding-top: 30px;
    }
    .move_SP .more {
        padding-left: 12px;
        padding-top: 25px;
    }
    .post-group {
        &:after,
        &:before {
            content: '';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    }
    .group08 {
        &:after,
        &:before {
            content: '';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    }
    .group08 .content,
    .post-group .content {
        float: left;
        width: 55%;
        padding-right: 20px;
    }
    .group08 .zoom-image,
    .post-group .zoom-image {
        float: left;
        width: 45%;
        position: relative;
        padding: 20px;
        background: #DFDFD0;
    }
    .group08 .more,
    .post-group .more {
        padding-top: 45px;
        width: 100%;
    }
    .post-group .more {
        &:after,
        &:before {
            content: '';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    }
    .group08 .more {
        &:after,
        &:before {
            content: '';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    }
}
.post02 {
    .content {
        background: #DFDFD0;
        padding: 28px 30px 28px 44px;
        margin-top: 48px;
        &:after,
        &:before {
            content: '';
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    }
    p {
        padding-top: 30px;
    }
}
.post03 p {
    padding-top: 30px;
}
.post02 .note,
.post03 .note {
    padding-top: 0;
}
.post02 {
    .description {
        float: left;
        width: 40%;
        padding-right: 20px;
        li {
            line-height: 1.5;
        }
    }
    .list {
        margin-top: 45px;
        &:nth-child(2) {
            margin-top: 55px;
        }
        > ul {
            padding-top: 10px;
            padding-left: 20px;
        }
        .sub-list {
            padding-left: 20px;
        }
    }
    .thumbnail {
        float: left;
        width: 60%;
        position: relative;
    }
    .zoom-icon {
        bottom: 0;
        right: 0;
    }
}
.post03 .title-h4 {
    padding-bottom: 10px;
}
/* --------------- tabs ----------------- */
.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tabs-content {
    border: 1px solid #0059B2;
    background: #EEEEEE;
}
.tabs {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
    li {
        color: #222;
        float: left;
        padding: 10px 4.1vw;
        cursor: pointer;
        width: 50%;
        background: #0059B2;
        &:nth-child(2) {
            text-align: center;
        }
        h3 {
            color: white;
            &:after {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 8px 0 8px;
                border-color: #fff transparent transparent transparent;
                margin-left: 10px;
                margin-bottom: 2px;
                -webkit-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
        }
        &.current {
            background: #EEEEEE;
            color: #0059B2;
            h3 {
                color: #0059B2;
                &:after {
                    content: '';
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 8px 8px 0 8px;
                    border-color: #0059B2 transparent transparent transparent;
                    margin-left: 10px;
                    margin-bottom: 2px;
                    -webkit-transform: rotate(0deg);
                    -ms-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
            }
        }
    }
}
/* ---------------- tabs contents ---------------- */
.tab-content {
    display: none;
    background: #ededed;
    padding: 35px 15px 25px 35px;
    font-size: 14px;
    &:after {
        clear: both;
        display: block;
        content: '';
        visibility: hidden;
    }
    &.current {
        display: inherit;
    }
    .time {
        float: left;
        width: 50%;
        &:first-child {
            padding-right: 30px;
        }
        h3 {
            padding-bottom: 10px;
        }
        .group {
            margin-bottom: 25px;
        }
    }
    .time-list {
        li {
            display: table-row;
        }
        p {
            display: table-cell;
        }
        .year {
            width: 78px;
        }
    }
}
#tab-2 > .year {
    padding-top: 15px;
}
@import "footer";
@import "responsive";
